.THIS .div-add-media{
    min-height: 157px;
    border: solid 1px #dcdbda;
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
}
.THIS .img-feature-selected{
    width: 150px;
    height: 150px;
    -o-object-fit: contain;
	object-fit: contain;
}
.THIS .img-div{
    position: relative;
}
.THIS .img-div lightning-button-icon{
    position: absolute;
    top: -15px;
    right: 0;
}
.THIS .img-feature-selected-desc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    width: 150px;
}
.THIS .img-feature-selected-desc span{
    line-height: 26px;
}
.THIS .div-choose-layout{
    min-height: 170px;
    border: solid 1px #dcdbda;
    border-radius: .25rem;
}
.THIS .input-start-date,.THIS .input-end-date{
    max-width: 596px;
}
.THIS .input-start-date lightning-datepicker,.THIS .input-start-date lightning-timepicker ,.THIS .input-end-date lightning-datepicker,.THIS .input-end-date lightning-timepicker{
    width: 50%;
}
.THIS .div-input{
    max-width: 873px;
}
.THIS .content-container{
    padding-left: 92px;
}
.THIS .template-desc-div{
    padding:10px;
    background-color: #F3F2F2;
    height: 152px;
}
.THIS .template-desc-div lightning-textarea textarea{
    height: 92px;
}
.THIS .has-errror{
    background-color: rgb(255, 255, 255);
    border-color: rgb(194, 57, 52);
    box-shadow: rgb(194, 57, 52) 0 0 0 1px inset;
    background-clip: padding-box;
}