.body-desktop-portrait {
  color: #c0c0c0;
  height: 2.4em;
  line-height: 19px;
  margin: 5px 0;
}
.container-desktop-portrait {
  color: #c0c0c0;
  font-family: 'Roboto';
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 0;
  margin: 30px auto;
  max-height: 350px;
  min-height: 175px;
  min-width: 350px;
  width: 90%;
}
.container-desktop-portrait .head-event {
  padding-right: 40px;
}
.img-desktop-portrait {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.footer-desktop-portrait {
  float: right;
  height: 30px;
}
.footer-desktop-portrait a {
  color: black;
  text-decoration: none;
}
.body-desktop-landscape {
  height: 2.4em;
  line-height: 19px;
  margin: 5px 0;
}
.container-desktop-landscape {
  color: #c0c0c0;
  font-family: 'Roboto';
  font-size: 16px;
  height: 350px;
  margin: 20px auto;
  min-width: 300px;
}
.container-desktop-landscape .img-container-desktop-landscape {
  margin: 0;
}
.container-desktop-landscape .head-event {
  padding-right: 40px;
}
.container-desktop-landscape .header-container {
  padding-bottom: 11px;
}
.img-container-desktop-landscape {
  height: 140px;
  left: 50%;
  overflow: hidden;
  position: relative;
  transform: translateX(-50%);
  width: 100vw;
}
.img-desktop-landscape {
  height: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.container-desktop-landscape > div {
  margin: auto;
  width: 80%;
}
.footer-desktop-landscape {
  height: 30px;
  padding: 19px 0 0 0;
}
.footer-desktop-landscape a {
  color: black;
  text-decoration: none;
}
.container-phone-portrait {
  color: #c0c0c0;
  font-family: 'Roboto';
  font-size: 16px;
  height: 370px;
  margin-top: 19px;
  padding: 0 36px;
}
.container-phone-portrait .head-event {
  background-color: #333333;
  color: #fdfdfd;
  min-height: 20px;
  padding-right: 5px;
  text-align: right;
}
.body-phone-portrait {
  height: 2.4em;
  line-height: 19px;
  margin: 5px 0;
  max-width: 90%;
  width: 90%;
}
.img-container-phone-portrait {
  height: 140px;
  left: 50%;
  overflow: hidden;
  position: relative;
  transform: translateX(-50%);
  width: 100vw;
}
.footer-phone-portrait {
  min-height: 19px;
  padding-top: 17px;
}
.footer-phone-portrait a {
  color: black;
  text-decoration: none;
}
.container-phone-landscape {
  color: #c0c0c0;
  display: flex;
  font-family: 'Roboto';
  font-size: 16px;
  height: 167px;
  margin-bottom: 51px;
  margin: 19px auto;
  padding: 0 37px;
}
.container-phone-landscape .header-container {
  margin-bottom: 5px;
}
.container-phone-landscape .head-event {
  background-color: #333333;
  color: #fdfdfd;
  min-height: 20px;
  padding-right: 5px;
  text-align: right;
}
.body-phone-landscape {
  height: 2.4em;
  line-height: 19px;
  margin: 5px 0;
  max-width: 90%;
  width: 90%;
}
.img-phone-landscape {
  height: 140px;
  object-fit: cover;
}
.img-phone-landscape-event {
  height: 167px;
  object-fit: cover;
}
.img-container-phone-landscape {
  height: 140px;
  left: 50%;
  overflow: hidden;
  position: relative;
  transform: translateX(-50%);
  width: 100vw;
}
.footer-phone-landscape {
  float: right;
  min-height: 19px;
}
.footer-phone-landscape a {
  color: black;
  text-decoration: none;
}
.container-tablet-portrait {
  color: #c0c0c0;
  font-family: 'Roboto';
  font-size: 16px;
  margin-bottom: 51px;
  margin: 19px auto;
  max-height: 370px;
  padding: 0 36px;
}
.container-tablet-portrait .head-event {
  background-color: #333333;
  color: #fdfdfd;
  min-height: 20px;
  padding-right: 5px;
  text-align: right;
}
.body-tablet-portrait {
  height: 2.4em;
  line-height: 19px;
  margin: 5px 0;
  max-width: 90%;
  width: 90%;
}
.img-container-tablet-portrait {
  height: 140px;
  left: 50%;
  overflow: hidden;
  position: relative;
  transform: translateX(-50%);
  width: 100%;
}
.footer-tablet-portrait {
  min-height: 19px;
  padding-top: 17px;
}
.footer-tablet-portrait a {
  color: black;
  text-decoration: none;
}
.head-event {
  background-color: #333333;
  color: #fdfdfd;
  text-align: right;
}
.head-news {
  color: #c0c0c0;
}
.title {
  color: #333333;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 300;
  height: 60px;
  line-height: 30px;
  overflow: hidden;
  word-break: break-word;
}
.body {
  font-weight: 400;
  overflow: hidden;
}
.container-info {
  margin-left: 10px;
}
.description {
  font-weight: 400;
}
.description:last-child {
  padding-top: 10px;
}
.desc-normal {
  color: #c0c0c0;
  line-height: 17px;
  margin-top: 10px;
}
.desc-highlight {
  color: #333333;
  line-height: 17px;
}
.icon {
  font-size: 1rem;
}
.icon:before {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: -1px;
  content: '';
  float: left;
  height: 1em;
  position: relative;
  width: 1em;
}
.icon.icon-2x {
  font-size: 2rem;
}
.icon.icon-3x {
  font-size: 3rem;
}
.icon.icon-4x {
  font-size: 4rem;
}
.icon.icon-5x {
  font-size: 5rem;
}
.location-icon:before {
  background-image: url("sfsites/c/resource/Assets/Assets/Icons/location.svg");
}
.header-container {
  margin-bottom: 13px;
}
