/* DESKTOP PORTRAIT */
.body-desktop-portrait {
  margin: 5px 0;
  line-height: 19px;
  max-height: 3em;
  color: #C0C0C0;
}

.container-dekstop-portrait {
  font-family: 'Roboto';
  font-size: 16px;
  margin: 30px auto;
  color: #C0C0C0;
  width: 90%;
  max-height: 200px;
  min-width: 350px;
}

.img-desktop-portrait {
  height: 140px;
  object-fit: cover;
}

.footer-desktop-portrait {
  text-align: right;
}

/* DESKTOP LANDSCAPE */
.body-desktop-landscape {
  margin: 5px 0;
  line-height: 19px;
  max-height: 2.4em;
}

.container-desktop-landscape {
  font-family: 'Roboto';
  font-size: 16px;
  margin: 20px auto;
  color: #C0C0C0;
  min-width: 300px;
}

.img-container-desktop-landscape {
  width: 100vw;
  height: 140px;
  position: relative;
  left: 50%;
  overflow: hidden;
  transform: translateX(-50%);
}

.img-desktop-landscape {
  width: 100%;
  height: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.container-desktop-landscape > div {
  width: 80%;
  margin: auto;
}

.container-desktop-landscape .img-container-desktop-landscape {
  margin: 0;
}

.footer-desktop-landscape {
  padding: 19px 0 0 0;
}

/* PHONE PORTRAIT */
.container-phone-portrait {
  font-family: 'Roboto';
  font-size: 16px;
  margin: 19px auto;
  margin-bottom: 51px;
  color: #C0C0C0;
  max-height: 370px;
  padding: 0 36px;
}

.container-phone-portrait .head-event {
  background-color: #333333;
  color: #FDFDFD;
  text-align: right;  
  padding-right: 5px;
  min-height: 20px;
}

.body-phone-portrait {
  margin: 5px 0;
  line-height: 19px;
  max-height: 2.4em;
  max-width: 90%;
  width: 90%;
}

.img-container-phone-portrait {
  width: 100vw;
  height: 140px;
  position: relative;
  left: 50%;
  overflow: hidden;
  transform: translateX(-50%);
} 

.footer-phone-portrait {
  padding-top: 17px;
}
/*img-phone-portrait */
/* PHONE LANDSCAPE */
.container-phone-landscape {
  font-family: 'Roboto';
  font-size: 16px;
  margin: 19px auto;
  margin-bottom: 51px;
  color: #C0C0C0;
  max-height: 167px;
  display: flex;
  padding: 0 37px;
}

.body-phone-landscape {
  margin: 5px 0;
  line-height: 19px;
  max-height: 2.4em;
  max-width: 90%;
  width: 90%;
}

.img-phone-landscape {
  object-fit: cover;
  height: 140px;
}

.img-phone-landscape-event {
  object-fit: cover;
  height: 167px;
}

.img-container-phone-landscape {
  width: 100vw;
  height: 140px;
  position: relative;
  left: 50%;
  overflow: hidden;
  transform: translateX(-50%);
} 

.container-phone-landscape .header-container {
  margin-bottom: 5px;
}

.container-phone-landscape .head-event {
  background-color: #333333;
  color: #FDFDFD;
  text-align: right;  
  padding-right: 5px;
  min-height: 20px;
}

.footer-phone-landscape {
  float: right;
}

/* TABLET ALL */
.container-tablet-portrait {
  font-family: 'Roboto';
  font-size: 16px;
  margin: 19px auto;
  margin-bottom: 51px;
  color: #C0C0C0;
  max-height: 370px;
  padding: 0 36px;
}

.container-tablet-portrait .head-event {
  background-color: #333333;
  color: #FDFDFD;
  text-align: right;  
  padding-right: 5px;
  min-height: 20px;
}

.body-tablet-portrait {
  margin: 5px 0;
  line-height: 19px;
  max-height: 2.4em;
  max-width: 90%;
  width: 90%;
}

.img-container-tablet-portrait {
  width: 100%;
  height: 140px;
  position: relative;
  left: 50%;
  overflow: hidden;
  transform: translateX(-50%);
} 

.footer-tablet-portrait {
  padding-top: 17px;
}

/* ALL */
.head-event {
  background-color: #333333;
  color: #FDFDFD;
  text-align: right;  
  padding-right: 42px;
  min-height: 24px;
}
.head-news {
  color: #C0C0C0;
}
.title {
  word-break: break-word;
  font-family: 'Roboto';
  line-height: 30px;
  font-size: 25px;
  font-weight: 300;
  color: #333333;
  max-height: 60px;
  overflow: hidden;
}
.body {  
  overflow: hidden;
  font-weight: 400;
}
.container-info {
  margin-left: 10px;
}
.description {
  font-weight: 400;
}
.description:last-child {
  padding-top: 10px;
}
.desc-normal {
  color: #C0C0C0;
  line-height: 17px;
  margin-top: 10px;
}
.desc-highlight {
  color: #333333;
  line-height: 17px;
}
.icon::before {
  content: '';
  float: left;
  height: 1em;
  width: 1em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  bottom: -1px;
}
.icon {
  font-size: 1rem;
}
.icon.icon-2x {
  font-size: 2rem;
}
.icon.icon-3x {
  font-size: 3rem;
}
.icon.icon-4x {
  font-size: 4rem;
}
.icon.icon-5x {
  font-size: 5rem;
}
.location-icon::before {
  background-image: url("sfsites/c/resource/Assets/Assets/Icons/location.svg");
}

.header-container {
  margin-bottom: 13px;
}