
.THIS li{
    list-style-type: none;
}
.THIS li a:hover{
    color: #FDFDFD;
}
.THIS li a{
    font-size: 19px;
    padding: 7px;
    color: #848484;
    line-height: 19px;
    font-weight: 400;
    text-decoration: none;
}

.THIS li > div.has-child{
    position: relative;
    cursor: pointer;
}

.THIS li.active > div.has-child::after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.THIS li.active > div.has-child a{
    color: #D6EAFF;
}

.THIS .div-ul li a:hover{
    color: #2A86EA;
}
.THIS .div-ul{
    position: fixed;
    width: 100%;
    left: 0;
    top: 50px;
    height: 50px;
    background-color: #F8F8F8;
}

.THIS .div-ul .div-ul{
    top: 100px;
    background-color: #FDFDFD;
}

.THIS .div-ul .ul-level-1,.THIS .div-ul .ul-level-2{
    display: flex;
    margin-bottom: 0;
    padding: 14px;
}

@media screen and (max-width: 768px) {
    .THIS li a{
        font-size: 16px;
        padding: 0;
    }
    .THIS li > div{
        padding-top: 30px;
    }
    .THIS li > div.has-child > div{
        display: none;
    }
    .THIS li.active > div.has-child > div{
        display: block;
    }
    .THIS li > div.has-child::after{
        content: ' ';
        position: absolute;
        height: 15px;
        width: 20px;
        top: 33px;
        right: 0;
        -webkit-mask: url(sfsites/c/resource/Assets/Assets/Icons/arrow.svg) no-repeat 50% 50%;
        background-color: #D6EAFF;
    }
}