.list-container {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.spacer-desktop {
    border-bottom: 1px solid #C0C0C0;
    width: 80%;
    margin: auto;
    display: none;
}

.spacer-phone, .spacer-tablet {
    border-bottom: 1px solid #C0C0C0;
    margin: 0 37px;
}

.left-arrow-div{
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
}

.right-arrow-div{
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
}

.slds-page-header.paging-bottom{
    padding: 16px;
}

@media screen and (min-width: 480px) {
    .list-container.carrousel{
        padding-left: 35px;
        padding-right: 35px;
    }

    .list-container {
        flex-flow: wrap;
        justify-content: flex-start;
    }
}

@media screen and (min-width: 992px) {
    .spacer {
        border: none;
    }
    .list-container {
        flex-flow: wrap;
        justify-content: flex-start;
    }
    .slds-col {
        padding: 0 8px;
    }
}