.THIS .slds-checkbox_faux{
	margin-right: .5rem;
}
.THIS .slds-listbox {
    position: fixed !important;
    left: 50% !important;
    margin-top: 2rem !important;
    width: 30% !important;
    top: auto !important;
}