.datatableModals .modal {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  overflow-y: auto;
}
.datatableModals .modal .filterModal {
  background-color: #F8F8F8;
}
.datatableModals .modal .filterModal .modal__header .closeModal {
  height: 17px;
  width: 17px;
  right: 37px;
  top: 20px;
  z-index: 100;
  cursor: pointer;
}
.datatableModals .modal .filterModal .modal__content {
  position: absolute;
  height: 100vh;
  width: 100%;
  padding: 30px;
}
.datatableModals .modal .filterModal .modal__content .filter-title > div {
  margin: auto;
  text-align: right;
}
.datatableModals .modal .filterModal .modal__content .bottom-spacer {
  margin-bottom: 100px;
}
.datatableModals .modal .filterModal .modal__content h2 {
  font-family: 'Roboto';
  font-size: 30px;
  margin: 30px 0;
}
.datatableModals .modal .filterModal .modal__content button {
  border-radius: 15px;
  background-color: transparent;
  border: solid 1px #D9D9D9;
  width: 100%;
  margin-bottom: 10px;
  height: 30px;
}
.datatableModals .modal .filterModal .modal__content button.filter.active {
  background-color: #0B0B0B;
  color: #EEEEEE;
}
.datatableModals .modal .filterModal .modal__content .currency p {
  font-size: 30px;
}
.datatableModals .modal .filterModal .modal__content input[type="number"] {
  border: none;
  border-bottom: solid 2px #D9D9D9;
  width: 100%;
}
.datatableModals .modal .filterModal .modal__footer {
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
}
.datatableModals .modal .filterModal .modal__footer button {
  width: 100%;
  background-color: #D6EAFF;
  color: #4B96E8;
  border: none;
  height: 50px;
  font-size: 20px;
}
.datatableModals .modal .filterModal .modal__footer button:last-child {
  color: #FDFDFD;
  background-color: #4B96E8;
}
.datatableModals .modal .detailmodal {
  background-color: #F8F8F8;
  height: 100%;
  top: 155px;
  font-family: 'Roboto';
}
.datatableModals .modal .detailmodal h1 {
  font-size: 40px;
  font-weight: 200;
  padding: 44px 36px 36px 28px;
}
.datatableModals .modal .detailmodal .modal__header {
  text-align: right;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 40px;
}
.datatableModals .modal .detailmodal .modal__content {
  padding: 30px 36px 50px 28px;
}
.datatableModals .modal .detailmodal .modal__content .detailcontent {
  padding-bottom: 50px;
}
.datatableModals .modal .detailmodal .modal__content .detailcontent p {
  font-weight: 500;
  font-size: 16px;
}
.datatableModals .modal .detailmodal .modal__content .detailcontent p.column {
  color: #848484;
}
.datatableModals .modal .detailmodal .modal__content .detailcontent p.value {
  color: #0B0B0B;
  margin-top: 10px;
  word-break: break-word;
}
.datatableModals .modal .detailmodal .modal__footer {
  height: 50px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #FDFDFD;
  padding-left: 56px;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 1416px;
  margin: auto;
}
.datatableModals .modal .detailmodal .modal__footer img {
  width: 25px;
  height: 25px;
}
.datatableModals .modal .action-modal {
  background-color: #F8F8F8;
  height: 100%;
  top: 155px;
  font-family: 'Roboto';
}
.datatableModals .modal .action-modal .modal__header {
  padding: 50px 35px 70px 35px;
}
.datatableModals .modal .action-modal .modal__header .action-label-title {
  font-size: 40px;
  color: #0B0B0B;
}
.datatableModals .modal .action-modal .modal__content {
  padding: 35px;
}
.datatableModals .modal .action-modal .modal__content .action-phone-detail {
  padding-bottom: 50px;
  position: relative;
}
.datatableModals .modal .action-modal .modal__content .action-phone-detail img {
  position: absolute;
  right: 0;
}
.datatableModals .modal .action-modal .modal__content .action-phone-detail label {
  color: #0B0B0B;
}
.datatableModals .modal .action-modal .modal__footer button {
  display: block;
  margin: auto;
  background-color: transparent;
  border: 0;
  color: #4B96E8;
  font-size: 16px;
  padding-top: 50px;
}
.datatableModals[data-is-desktop="true"] {
  position: relative;
  width: 100%;
  height: 100%;
}
.datatableModals[data-is-desktop="true"] .modal {
  position: relative;
  top: 0px;
  overflow-y: visible;
}
.datatableModals[data-is-desktop="true"] .modal .filterModal {
  display: flex;
  background-color: transparent;
  height: 125px;
}
.datatableModals[data-is-desktop="true"] .modal .filterModal .modal__header {
  display: none;
}
.datatableModals[data-is-desktop="true"] .modal .filterModal .modal__content {
  height: auto;
  padding-bottom: 0;
  padding-top: 0;
  width: 85%;
  position: relative;
}
.datatableModals[data-is-desktop="true"] .modal .filterModal .modal__content .bottom-spacer {
  margin-bottom: 0px;
}
.datatableModals[data-is-desktop="true"] .modal .filterModal .modal__content h2 {
  cursor: pointer;
  font-size: 20px;
  margin: 0px;
}
.datatableModals[data-is-desktop="true"] .modal .filterModal .modal__content .filterContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}
.datatableModals[data-is-desktop="true"] .modal .filterModal .modal__content .filterContainer .filter-title {
  flex-grow: 1;
  padding-left: 0;
}
.datatableModals[data-is-desktop="true"] .modal .filterModal .modal__content .filterContainer .filter-title h2 {
  padding-left: 0;
}
.datatableModals[data-is-desktop="true"] .modal .filterModal .modal__content .min,
.datatableModals[data-is-desktop="true"] .modal .filterModal .modal__content .max {
  height: 51px;
  margin: 0;
}
.datatableModals[data-is-desktop="true"] .modal .filterModal .modal__content .filterOptions {
  top: 50px;
  color: #FDFDFD;
  width: 200px;
}
.datatableModals[data-is-desktop="true"] .modal .filterModal .modal__content .filterOptions p {
  padding: 1px 7px 2px;
  height: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.datatableModals[data-is-desktop="true"] .modal .filterModal .modal__content .filterOptions .filterItemClass {
  padding: 0px;
}
.datatableModals[data-is-desktop="true"] .modal .filterModal .modal__content .picklist .filterOptions {
  background: #0B0B0B;
  position: absolute;
}
.datatableModals[data-is-desktop="true"] .modal .filterModal .modal__content .input-number {
  padding-left: 5px;
}
.datatableModals[data-is-desktop="true"] .modal .filterModal .modal__content .input-number input {
  color: black;
}
.datatableModals[data-is-desktop="true"] .modal .filterModal .modal__content .input-date lightning-input {
  color: black;
}
.datatableModals[data-is-desktop="true"] .modal .filterModal .modal__footer {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 5px 0 20px 0;
  width: 15%;
}
.datatableModals[data-is-desktop="true"] .modal .filterModal .modal__footer .removeAllFilters {
  background-color: #D6EAFF;
}
.datatableModals[data-is-desktop="true"] .modal .filterModal .modal__footer .applyFilter {
  margin-top: auto;
}
.datatableModals[data-is-desktop="true"] .modal .detailmodal .modal__header .closeModal {
  margin-top: 10px;
}
.datatableModals[data-is-desktop="true"] .modal .detailmodal .modal__content {
  background-color: #F8F8F8;
}
.datatableModals[data-is-desktop="true"] .modal .detailmodal .modal__footer .action-label {
  margin-right: 10px;
  font-size: 16px;
}
.datatableModals[data-detail-modal="true"] {
  margin-top: 100px;
}
:host {
  order: 20;
}
img {
  cursor: pointer;
}
